/* changing font to base 10 measurement */
:root {
  font-size: 62.5%;
}
/* change body font size to avoid accessibilty issue */
body {
  font-size: 1.6rem;
}
/* rem units will be 10 based system */
/* 765px will be 76.5rem */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
